*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: rgb(28, 28, 28);
}
::-webkit-scrollbar{
    width: 5px;
   
}
::-webkit-scrollbar-track{
    background-color: black;

}
::-webkit-scrollbar-thumb{
    background-color: rgb(29, 32, 43);

    
}
header{
    grid-area: h;
    
}
.bebecalho a{
    color: white;
    text-decoration: none;
}
.conteudo{
    display: flex;
    flex-direction: column;
    grid-area: c;
}
.cabecalho{
    background-color: rgb(28, 28, 28);
    /*width: 90vw;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    
        
}
.search{
    width: 40%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 200px;
}
.search input{
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;

}
.search button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: transparent;
    cursor: pointer;
}
.search > button > i{
    font-size: 1.5rem;
    
}
.logo{
    padding-left: 30px;
    padding-bottom: 10px ;
    padding-top:10px ;
    margin-left: 20px;

}
.logo:hover{
    cursor: pointer;
}
/* .prof{
    display: flex;
    justify-content: center;
    align-items: center;
}   */
.prof > i{
    color: white;
    padding: 10px;
    font-size: 2rem;
}
#batata{
    margin-left: 200px;
    font-size: 2.5rem;

}
#btn{
    font-size: 2.5rem;
    padding-left: 20px;
}
#batata:hover{
    color: aqua;
    transition: 100ms;
    cursor: pointer;
}
#btn:hover{
    color: aqua;
    transition: 100ms;
    cursor: pointer;
}
.bebecalho{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: black;
    width: 100%;
}
.direita{
    display: flex;
    align-items: center;
    background-color: black;
    /* width: 300px; */
    /* height: 30px; */
}
.direita ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 20px;
}
.direita > ul > li{
    padding-left: 20px;
    font-size: 1.3rem;
    /* text-transform: uppercase; */
    font-weight: 600;
    color: white;
}
.hover{
    font-size: 2rem;
    padding: 5px;

}
.hover:hover{
    color: rgb(81, 255, 255);
    cursor: pointer;
    transition: 500ms;
}
.hover a:hover{
    color: rgb(81, 255, 255);
    cursor: pointer;
    transition: 500ms;
}
.hover:not(:hover){
    transition:500ms;
    
}
.esquerda{
    /* width: 300px; */
    /* height: 30px; */
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    
}
.esquerda ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 701px;
    margin-right: 40px;
}
.esquerda > ul > li{
    padding-left: 20px;
    font-size: 1.3rem;
    /* text-transform: uppercase; */
    font-weight: 600;
    color: white;

}
.bari{
    height: 5px;
    width: 100%;
    background-color: aqua;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
.form-group{
    position: relative;
    width: 540px;
    height: 610px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(53, 191, 255, 0.5);
    border-radius: 30px;
    margin-left: 30px;
    margin-top: 60px;
}
h2{
    font-size: 2em;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}
.forme{
    position: relative;
    margin: 30px 0;
    width: 450px;
    border-bottom: 2px solid white;
}
.forme label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: white;
    font-size: 1em;
    pointer-events: none;

}
.forme input{
    width: 100%;
}
.forme input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.forme i{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;  
}

.forget label input{
    margin-right: 3px;
    
}
.forget label a{
    color: #fff;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    transition: 300ms;
}
button:hover{
    background: rgb(73, 224, 235);
    color:white
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}

input{
    accent-color: rgb(58, 187, 238);
}
.forget a{
    text-decoration: none;
    color: #fff;
    font-weight: 600
}
.forget a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 768px){
    .cabecalho{
        width: 100%;
        
    }
    #prod{
        color:blue;
        display: none;
    }
    .search{
        width: 30%;
        height: 40px;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        border-radius: 30px;
        padding: 10px 20px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .search input{
        background: transparent;
        flex: 1;
        border: none;
        outline: none;
        padding: 24px 20px;
        font-size: 20px;
    
    }
    .search button{
        border: 0;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        background: transparent;
        cursor: pointer;
        display: none;
    }
    .search > button > i{
        font-size: 1.5rem;
        
    }
    .logo{
        padding-left: 30px;
        padding-bottom: 10px ;
        padding-top:10px ;
        margin-left: 20px;
    
    }
    .logo:hover{
        cursor: pointer;
    }
    /* .prof{
        display: flex;
        justify-content: center;
        align-items: center;
    }   */
    .prof > i{
        color: white;
        padding: 10px;
        font-size: 2rem;
    }
    #batata{
        padding-left: 20px;
        font-size: 2.5rem;
    
    }
    #btn{
        font-size: 2.5rem;
        padding-left: 20px;
        display: none;
    }
    #batata:hover{
        color: aqua;
        transition: 100ms;
        cursor: pointer;
    }
    #btn:hover{
        color: aqua;
        transition: 100ms;
        cursor: pointer;
    }
    .bebecalho{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: black;
        width: 100%;
    }
    .direita{
        display: flex;
        align-items: center;
        background-color: black;
        /* width: 300px; */
        /* height: 30px; */
    }
    .direita ul{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding-left: 20px;
    }
    .direita > ul > li{
        padding-left: 20px;
        font-size: 1.3rem;
        /* text-transform: uppercase; */
        font-weight: 600;
        color: white;
    }
    .hover{
        font-size: 2rem;
        padding: 5px;
    
    }
    .hover a:hover{
        color: rgb(81, 255, 255);
        cursor: pointer;
        transition: 500ms;
    }
    .hover:not(:hover){
        transition:500ms;
        
    }
    .esquerda{
        /* width: 300px; */
        /* height: 30px; */
        display: flex;
        align-items: center;
        background-color: rgb(0, 0, 0);
        
    }
    .esquerda ul{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding-left: 0px; 
        margin-right: 0px;
    }
    .esquerda > ul > li{
        padding-left: 20px;
        font-size: 1.3rem;
        /* text-transform: uppercase; */
        font-weight: 600;
        color: white;
    
    }
    .bari{
        height: 5px;
        width: 100%;
        background-color: aqua;
    }
    .bar{
        width: 70%;
        height: 5px;
        background-color: aqua;
        margin-top: 100px;
        /* filter: blur(5px); */
        margin-bottom: 100px;
        /* align-self: auto; */
        /* margin-left: 170px;
        margin-top: 60px; */
    }
    footer{
      display: flex;
      justify-content: center;
      flex-direction: column;
        
    
    }
    
    footer > .mainf > ul{
        padding-left: 30px;
        list-style: none;
        padding-top: 50px;
        grid-area: t;
        padding-bottom: 30px;
    
    }
    footer > .mainf ul > li{
        font-size: 1.1rem;
        padding: 10px;
    
    
    }
    footer > .mainf ul > li:hover{
        cursor: pointer;
        transition: 300ms;
        color: rgb(202, 202, 202);
    }
    .iccon{
        grid-area: i;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 12.5%;
    }
    #icon{
        font-size: 4rem;
        padding-right: 20px;
    }
    #fcon{
        font-size: 4rem;
        padding-right: 20px;
    }
    #tcon{
        font-size: 4rem;
    }
    .crbar{
        width: 100%;
        height: auto;
        background-color: rgb(53, 53, 53);
        color: white;
        display: flex;
        justify-content: center;
        font-size: 1.3rem;
        
    }
    .mainf{
        color: white;
        background-color: black;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "t i"
        "t g";
    }
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%;
    }
    .form-group{
        position: relative;
        width: 400px;
        height: 700px;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid rgba(53, 191, 255, 0.5);
        border-radius: 30px;
        margin-left: 0px;
    }
    h2{
        font-size: 3em;
        color: white;
        text-align: center;
    }
    .forme{
        position: relative;
        margin: 30px 0;
        width: 370px;
        border-bottom: 2px solid white;
    }
    .forme label{
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        color: white;
        font-size: 1.3rem;
        pointer-events: none;
    
    }
    .forme input{
        width: 100%;
    }
    .forme input {
        width: 100%;
        height: 50px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1.3rem;
        padding:0 35px 0 5px;
        color: #fff;
    }
    .forme i{
        position: absolute;
        right: 8px;
        color: #fff;
        font-size: 1.3em;
        top: 20px;
    }
    .forget{
        margin: -15px 0 15px ;
        font-size: 1.3em;
        color: #fff;
        display: flex;
        justify-content: space-between;  
    }
    
    .forget label input{
        margin-right: 3px;
        
    }
    .forget label a{
        color: #fff;
        text-decoration: none;
    }
    .forget label a:hover{
        text-decoration: underline;
    }
    button{
        width: 100%;
        height: 50px;
        border-radius: 40px;
        background: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 2em;
        font-weight: 600;
        transition: 300ms;
    }
    button:hover{
        background: rgb(73, 224, 235);
        color:white
    }
    input:focus ~ label,
    input:valid ~ label{
    top: -5px;
    }
    .register{
        font-size: 1.3rem;
        color: #fff;
        text-align: center;
        margin: 25px 0 10px;
    }
    .register p a{
        text-decoration: none;
        color: #fff;
        font-weight: 600;
    }
    .register p a:hover{
        text-decoration: underline;
    }
    
    input{
        accent-color: rgb(58, 187, 238);
    }
    .forget a{
        text-decoration: none;
        color: #fff;
        font-weight: 600
    }
    .forget a:hover{
        text-decoration: underline;
    }
}